/*  */
#txtbold{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #000000;
}
#txtboldW{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: #ffffff;
}
#txtregular{
    -fx-font-family: "Inter";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: black;
}
#TopData{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-font-size: 12px;
    -fx-text-fill: white;
}
.text-field {
    -fx-background-color: #d5dbdb;
    -fx-pref-height: 30px;
    -fx-background-radius: 5px;
    -fx-prompt-text-fill: #9d9f9f;
    -fx-font-family: "Inter 24pt";
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: black;

    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
}
.text-area{
    -fx-background-color: #d5dbdb;
    -fx-control-inner-background: #d5dbdb;

    -fx-background-radius: 5px;
    -fx-prompt-text-fill: #9d9f9f;
    -fx-font-family: "Inter 24pt";
    -fx-font-style: italic;
    -fx-font-weight: normal;
    -fx-text-fill: black;

    -fx-border-color: transparent transparent transparent transparent;
    -fx-border-width: 0 0 0 0;
}

#titleLogin {
    -fx-font-family: "Nirmala UI";
    -fx-font-weight: bold;
    -fx-text-fill: #39c2cc;
    -fx-font-size: 20px;
}

#TitleRegister{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #014b58;
    -fx-font-size: 21px;
}
#titleOptions{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-font-size: 16px;
}
.label{
    -fx-font-family: "Inter Semi Bold";
    -fx-font-weight: bold;
    -fx-text-fill: #9d9f9f;
}

.separator .line {
    -fx-border-color:#bdbdbd;
    -fx-border-width: 1px 0 0 0;
}

#HomeworkContainer{
    -fx-background-color: #f6f6f6;
    -fx-background-radius: 5px;
}

#optionConainerTeacher{
    -fx-background-radius: 0 5 5 0;
}



